<div class="box-like-btn fbLikePlaceholder fb-like fb_edge_widget_with_comment fb_iframe_widget"
     data-href="https://apps.facebook.com/boicung/like::vi_VN::{{ zodiac }}::{{ date }}"
     data-track="/track?data={{ zodiac }}::{{ date }}"
     data-send="false" data-layout="button_count" data-show-faces="false"
     data-font="lucida grande" fb-xfbml-state="rendered">
</div>